.curved {
    position: relative;
    background: #000000;
    height: inherit;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
  }
.text-wellcome{
    color: #fff;
}
.top-right-div{
    order:1;
}

@media (max-width: 990px){
    .text-wellcome{
        text-align: center;
    }
  }
  